$blue: #029dc3;
$dark-blue: #0476a3;
$red: #e2525e;
$dark-red: #c22a37;
$outline: #7ddaff;
$dark: #3f3f3f;
$darker: #20201f;
$light: #f9f9f9;
$silver: #a5a1a1;
$title-font-family: 'Outfit', 'Helvetica Neue', Helvetica, Arial, 'PingFang TC', '黑體-繁', 'Heiti TC',
'蘋果儷中黑', 'Apple LiGothic Medium', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
$content-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, 'PingFang TC', '黑體-繁', 'Heiti TC',
'蘋果儷中黑', 'Apple LiGothic Medium', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
$monospace-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;